<div class="container contents">
    <div class="row">
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-6">
            <h1>Logout</h1>
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            &nbsp;
        </div>
        <div class="col-sm-6">
            <form name="logoutForm" ng-submit="submitLogoutForm()" novalidate>
                <div class="form-group">
                    <label>Do you wish to logout?</label>
                    <select ng-model="action">
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
        <div class="col-sm-3">
            &nbsp;
        </div>
    </div>
</div>
